<div class="container">
  {{#if displaySecretMessage}}
    <div class="secret-message">We did it Reddit!</div>
  {{/if}}

  {{#if displayComponent}}
    {{konami-code onKonami=(action "doSweetThings")}}
  {{/if}}

  <div class="component-status">Currently listening for inputs: {{displayComponent}}</div>

  <button id="toggle-konami" type="button" name="button" {{action "displayComponent"}}>Toggle</button>
</div>
